@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Chewy";
  src: url("./fonts/Chewy/Chewy-Regular.ttf");
}

@font-face {
  font-family: "Sniglet";
  src: url("./fonts/Sniglet/Sniglet-Regular.ttf");
}
